{% extends 'cheque/template.html' %}
{% block title %}<title>Cheque detail</title>{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 m-2">
                <div class="card">
                    <div class="card-header">
                        Информация о чеке
                    </div>
                    <div class="card-body">
                        {% load humanize %}
                        <h2 class="card-title"><a class="text-dark" href="{% url 'show_cheque' ch.id %}">Чек №{{ ch.id }}</a></h2>
                        <p class="card-text">Выпустил пользователь <span class="text-success">{{ ch.author.username }}</span></p>
                        <p class="card-text">Сумма чека: <h5><stong>{{ ch.amount|intcomma }} CR</stong></h5></p>
                        <p class="card-text">Статус: <b><span style="color: {{ status_color }};">{{ status }}</span></b></p>
                        <h2 class="card-text">Код активации: <h1><strong>{{ code }}</strong></h1></h2>
                        <a href="{% url 'make_cheque' %}"><button autofocus class="btn-outline-primary btn">Сгенерировать чек</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}